$green: #109873;
$white: #fff;

$fonts: 'Muli', sans-serif; /* no agarra */ 

$hover: #6b0e4f;
$size_img_mujers: 30px;
$fondo_color_mujers: #d5cac0;
$padding_mujers: 10px; 
$border_mujers: 100px;

$fondo: #f6474d;
$no_padding: 0;
$enlace_list: none;
$margin_left: 20px;

$fondo_pagina: #1e3747;
$size_img_mujers2: 200px;
$border_mujers2: 150px;
